# Ignore build outputs
/bin
/obj
/Build

# Ignore Visual Studio files
.vs/
*.user
*.suo
*.csproj.user
*.sln.docstates

# Ignore NuGet packages cache
/packages

# Ignore any temporary files
*.[Pp]db
*.[Tt]mp